@model IEnumerable<ShortenURL.Models.ShortUrl>

@{
    ViewData["Title"] = "Your URLs";
}

<h1 class="align-content-center" style="color: orange;"><strong>Your URLs</strong></h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShorUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a href="@item.Url" target="_blank" title="@item.Description">
                        @Html.DisplayFor(modelItem => item.Url)</a>
            </td>
            <td>
                    <a href="@Html.DisplayFor(modelItem => item.ShorUrl)" target="_blank" title="Short URL -- @item.Description">
                        @Html.DisplayFor(modelItem => item.ShorUrl)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <!--a asp-action="Edit" asp-route-id="@item.Id">Edit</!--a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a > | -->
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p class="align-content-end">
    <a asp-action="Create" style="text-decoration: none;"><strong>+&nbsp;</strong>Add New</a>
</p>